---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	subtitle="著者情報"
	description="著者情報"
>
	<h2>
		Profile
	</h2>
	<p> Hoku Ishibe (@is-hoku) </p>
	<p> Graduate student at Toyohashi University of Technology studying computer architecture. </p>

	<ul>
		<li>Apr 2026 - Mar 2028: Toyohashi University of Technology (ME, Department of Computer Science and Engineering)</li>
		<li>Apr 2024 - Mar 2026: Toyohashi University of Technology (BE, Department of Computer Science and Engineering)</li>
		<li>Apr 2019 - Mar 2024: National Institute of Technology Toyota College (Associate degree, Department of Information and Computer Engineering)</li>
	</ul>

	<h2>
		Contact
	</h2>
	<ul>
	<li>
		GitHub: <a href="https://github.com/is-hoku/">@is-hoku</a>
	</li>
	<li>
		LinkedIn: <a href="https://www.linkedin.com/in/is-hoku/">@is-hoku</a>
	</li>
	<li>
		Keybase: <a href="https://keybase.io/is_hoku/">@is_hoku</a>
	</li>
	<li>
		Email: <a href="mailto:contact@hokuishi.be">contact_at_hokuishi.be</a>
	</li>
	<li>
		GPG Fingerprint: <code>4277 F0BF C82E C90B 1DDC 8E2F 3337 CA90 7E2E 9973</code>
	</li>
	</ul>

</Layout>
