---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	subtitle="著者情報"
	description="著者情報"
>
	<h2>
		Profile
	</h2>
	<p> Hoku Ishibe (@is-hoku) </p>
	<p> 豊橋技術科学大学に通っています．計算機と本とコーヒーが好き．最近は OCaml がお気に入りです．</p>

	<ul>
		<li>2024/11 - : 株式会社アークエッジ・スペース コンピューティング基盤部 (インターンシップ)</li>
		<li>2024/04 - 2026/03: 豊橋技術科学大学 情報知能工学課程</li>
		<li>2022/04 - 2024/10: フラー株式会社 バックエンドエンジニア (インターンシップ)</li>
		<li>2024/03: ピクシブ株式会社 ウェブエンジニアリングチーム (インターンシップ)</li>
		<li>2019/04 - 2024/03: 豊田工業高等専門学校 情報工学科</li>
	</ul>

	<h2>
		Interests
	</h2>
	<ul>
		<li>コンピュータアーキテクチャ</li>
		<li>プログラミング言語処理系</li>
	</ul>

	<h2>
		Works
	</h2>
	<ul>
		<li><a href="https://github.com/is-hoku/yacc-language-server">yacc-language-server</a></li>
		<ul>
			<li>Language Server for Yacc/Bison.</li>
		</ul>
		<li><a href="https://github.com/is-hoku/yacc-language-server">sakura</a></li>
		<ul>
			<li>Beautiful and easy-to-see color scheme inspired by Japanese cherry blossoms.</li>
		</ul>
		<li><a href="https://github.com/is-hoku/dotfiles">dotfiles</a></li>
		<ul>
			<li>My dotfiles consisting of Arch Linux, i3-gaps, Neovim, Alacritty, Polybar, etc.</li>
		</ul>
	</ul>


	<h2>
		Contact
	</h2>
	<ul>
	<li>
		GitHub: <a href="https://github.com/is-hoku/">@is-hoku</a>
	</li>
	<li>
		Keybase: <a href="https://keybase.io/is_hoku/">@is_hoku</a>
	</li>
	<li>
		Email: <a href="mailto:contact@hokuishi.be">contactあっとhokuishi.be</a>
	</li>
	<li>
		GPG Fingerprint: <code>4277 F0BF C82E C90B 1DDC 8E2F 3337 CA90 7E2E 9973</code>
	</li>
	</ul>

</Layout>
