---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Resume"
	subtitle="履歴書"
	description="履歴書"
>
	<h1> Hoku Ishibe</h1>
	Graduate Student<br>
	Computer Systems Performance Engineering Lab (Perf-lab)<br>
	Toyohashi University of Technology<br>
	1-1 Hibarigaoka, Tempaku-cho, Toyohashi, Aichi, 441-8580, Japan
	<h2>
		Education
	</h2>
	<ul>
		<li>Apr 2026 - Mar 2028: M.E., Toyohashi University of Technology</li>
		<li>Apr 2024 - Mar 2026: B.E., Toyohashi University of Technology</li>
		<li>Apr 2019 - Mar 2024: Associate degree, National Institute of Technology Toyota College</li>
	</ul>

	<h2>
		Interests
	</h2>
	Computer architecture, Programming languages

	<h2>
		Honors & Awards
	</h2>
	<ul>
		<li>Mar 2026, IEEE Nagoya Section Excellent Student Award</li>
	</ul>

	<h2>
		Publications
	</h2>
	<ul>
	</ul>

</Layout>
