---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Resume"
	subtitle="履歴書"
	description="履歴書"
>
	<h1> Hoku Ishibe</h1>
	Graduate Student<br>
	Computer Systems Performance Engineering Lab (Perf-lab)<br>
	Toyohashi University of Technology<br>
	1-1 Hibarigaoka, Tempaku-cho, Toyohashi, Aichi, 441-8580, Japan
	<h2>
		Education
	</h2>
	<ul>
		<li>Apr 2026 - Mar 2028: M.E., Toyohashi University of Technology</li>
		<li>Apr 2024 - Mar 2026: B.E., Toyohashi University of Technology</li>
		<li>Apr 2019 - Mar 2024: Associate degree, National Institute of Technology Toyota College</li>
	</ul>

	<h2>
		Interests
	</h2>
	Computer architecture, Programming languages

	<h2>
		Honors & Awards
	</h2>
	<ul>
		<li>Mar 2026, IEEE Nagoya Section Excellent Student Award</li>
	</ul>

	<h2>
		Publications
	</h2>
	<ul>
	</ul>

	<h2>
		Presentations
	</h2>
	<ul>
		<li><u>Hoku Ishibe</u>: Invited Talk, ABC HW Meeting: The 2nd Research Meeting on Adaptive Bandwidth Compression HardWare, 2026</li>
		<li><u>Hoku Ishibe</u>, Ko Ishikura, Kazutomo Yoshii and Yukinori Sato: "Agile Development of a RISC-V SoC Using Chipyard: A Case Study on Accelerated CNN Inference for X-ray Science", RISC-V Day Tokyo 2026 Spring, poster presentation (non-refereed), 2026.</li>
		<li><u>Hoku Ishibe</u>: "Highly Optimized Protocol Stacks with RISC-V Ecosystems for Cloud Computing and AI Systems", 2nd MIT-Toyohashi ASPIRE Workshop 2025 Fall, oral presentation (non-refereed), 2025.</li>
		<li><u>Hoku Ishibe</u>: "DSL for FPGA-based Low-latency Network Stack in Cloud Computing Environment",ARCHIDE: 2nd Workshop on Architecture Design Methodologies and Ecosystems for HPC and Scientific Edge Computing, oral presentation (non-refereed), 2025.</li>
		<li><u>石部 鳳空</u>, 胡 思已, 佐藤 幸紀："Kubernetes 向けのマイクロサービス自動生成用 DSL の開発", xSIG 2025, 発表番号 24，ポスター発表 (査読なし), 2025.</li>
	</ul>

</Layout>
